</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.all.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/datatable/jquery-3.5.1.js"></script>
<script src="/js/datatable/jquery.dataTables.min.js"></script>
<script src="/js/datatable/dataTables.buttons.min.js"></script>
<script src="/js/datatable/jszip.min.js"></script>
<script src="/js/datatable/pdfmake.min.js"></script>
<script src="/js/datatable/vfs_fonts.js"></script>
<script src="/js/datatable/buttons.html5.min.js"></script>
<script src="/js/main.js"></script>

</html>

<script>